fieldset{
    border: none;
}


.callToAction {
    line-height: 25px;
    font-size: 17px;
}


.scoreHead {
    margin: 1em 0;
    padding: 0;
}


.questionLine, .scoreLine, .header {
    display: inline;
    font-size: 1.25em;
    text-align: center;
}


.scoreLine{
    padding-left: 10px;
}


.questionCounterL{
    padding-right: 50px;
}


.quizContainer{
    display: inline;
    flex-direction: column;
    align-items: center;
    margin: 2em 1em;
}


.activeImages {
    height: auto;
    width: 110%;
    padding-right: auto;
}


.rightWrongImg {
    height: auto;
    width: 110%;
    padding-right: auto;
    margin-top: -5px;
}


.quizBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding: 1em;
}


.possAnswers{
    display:block;
    font-size: 21px;
    margin-bottom: 1em;
    text-align: left;
}


.answerCorrect{
    font-size: 18px;
    margin-bottom: 1em;
    text-align: center;
}


.questionText{
    font-size: 25px;
    text-align: center;
    margin-bottom: 1em;
}


.answerHead, .really{
    font-size: 27px;
}


.answerPar, .reallyPar{
    font-size: 19px;
}


.interrogationBox, .answerBox, .questionBox, .questionText{
    text-align: center;
    margin-top: 0em;
}


.reallyPar{
    font-size: 22px;
}


.questionText{
    display: flex;
    justify-content: center;

}

form{
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 1200px) {

    .callToAction {
        line-height: 25px;
        font-size: 20px;
    }

    h1.focus {
        font-size: 43px;
    }

    .questionText {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    .possAnswers {
        display: block;
        font-size: 30px;
        margin-bottom: 1em;
        text-align: left;
    }

    .questionLine, .scoreLine, .header {
        display: inline;
        text-align: center;
        font-weight: bold;
    }

    .answerHead, .really {
        font-size: 34px;
    }

    .answerPar, .reallyPar {
        font-size: 26px;
    }

    .answerCorrect {
        font-size: 22px;
        margin-bottom: 1em;
        text-align: center;
    }

}


